@font-face {
    font-family: 'DancingScript';
    font-style: normal;
    src: local(''),
        url('font/DancingScript-Bold.ttf') format('ttf'),
}

body {
    margin: 0;
    font-family: 'Dancing Script', cursive;
    background-color: grey;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.img_container {
    display: flex;
    flex-wrap: wrap;
}


.imgBox {
    margin: 5px;
}

.imgBox img {
    object-fit: cover;
    height: 150px;
    cursor: pointer;
}

.imgBox:hover {
    opacity: 0.8;
}

.d-none {
    display: none !important;
}

.showFull {
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fullImage {
    width: 600px;
    height: 500px;
    object-fit: cover;
}

.bigImage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    height: 20px;
    cursor: pointer;
}

.icon:hover {
    opacity: 0.6;
}

.arrows {
    position: fixed;
    top: 175px;
    width: 180px;
    display: flex;
    justify-content: space-between;
}